/* app global css */
@font-face {
  font-family: montserrat;
  src: url(./fonts/montserrat-v15-latin-regular.woff);
}

.montserrat {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: bold;
}

.text-body1 {
  font-size: 19px;
}

.q-item__label--caption {
  font-size: 15px;
}