/* app global css */

:root {
  --bg-dark: #171837;
  --bg-secondary: #171837;
  --dark: #27274C;
}

@font-face {
  font-family: montserrat;
  src: url(/montserrat-v15-latin-regular.woff);
  font-display: swap;
}

.montserrat {
  font-family: 'montserrat';
  font-style: normal;
  font-weight: bold;
}

.text-body1 {
  font-size: 19px;
}

.q-item__label--caption {
  font-size: 15px;
}

body.body--dark {
  background: var(--bg-dark);
  --q-color-dark: #FFF !important;
  --q-color-secondary: var(--bg-dark) !important;
}

div.container-logo {
  background-color: #ee2e5d;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0.2;
}
@media screen and (min-width: 320px) and (max-width: 737px) {
  div.container-logo {
    height: 183px !important;
    width: 100% !important;
  }
}
#btn-login {
  font-size: 16px !important ;
  font-weight: bold;
  height: 70px;
}
.divider {
  border-top: 1px solid #ebecf3;
}